* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
}

body {
  background-color: #E9EBEE;
  overflow-x: hidden;
}

header {
  width: 100%;
  position: fixed;
  height: 42px;
  background-color: #4166B2;
  display: flex;
  flex: 1 13 auto;
  flex-direction: row;
  z-index: 1;
}

a {
  text-decoration: none;
}

.left { 
  width: 100px;
  flex: 1;
}

.middle { 
  width: 1014px;
  display: flex;
  align-items: center;
  flex: 13;
}

.logo {
  padding: 2px 12px 3px 12px;
  background-image: url(./img/big-icons.png);
  background-position: 0 0px;
  background-repeat: no-repeat;
  background-size: auto;
  margin-right: 6px;
}

.search-area {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 10px;
  background-color: #ffffff;
  border-radius: 2px;
  width: 446px;
}

.seach-input {
  border:none;
  outline: none;
  font-size: 14px;
  width: 100%;
}

.search-button {
  background-color: #F5F6F7;
  border: none;
  padding: 0 16px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 23px;
  width: 48px;
}

.search-icon {
  padding: 2px 14px;
  background-image: url(./img/small-icons.png);
  background-position: 0 -969px;
  background-repeat: no-repeat;
  background-size: auto;
}

.links {
  display: flex;
  align-items: center; 
}

a.top-link {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  line-height: 18px;
}

a.top-link:after {
  content: "";
  padding-right: 10px;
  border-right: 1px solid rgb(19, 49, 121, .6);
}

.avatar:before {
  content: "";
  padding: 4px 12px; 
  background-image: url(./img/avatar1.jpg);
  margin-right: 6px;
  border-radius: 50%;
}

.hover:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, .1);
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}

.friend-requests {
  background-image: url(./img/small-icons.png);
  background-position: 0 -788px;
}

.messages {
  background-image: url(./img/small-icons.png);
  background-position: 0 -838px;
}

.notifications {
  background-image: url(./img/small-icons.png);
  background-position: 0 -738px;
}

.quick-help {
  background-image: url(./img/big-icons.png);
  background-position: 0 -100px;
}


.expand {
  background-image: url(./img/big-icons.png);
  background-position: 0 -50px;
}

.container {
  position: relative;
  top: 42px;
  display: flex;
  flex-direction: row;
  flex: 1 13 1;
  justify-content: stretch;
}

.left {
  flex: 1;
}

.main {
  flex: 13;
}

.right {
  position: fixed;
  top: 0;
  padding-top: 42px;
  right: 0;
  flex: 1;
  border-left: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 1px 0 0 #f0f0f2 inset;
  height: 100vh;
  width: 205px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  font-size: 12px;
  color: #333333;
}

.left-sidebar-header {
  font-size: 11px;
  overflow: hidden;
  font-weight: bold;
  text-transform: uppercase;
}

.left-sidebar-more {
  font-size: 10px;
  color: #4a4a4a;
  font-weight: bold;
  text-transform: uppercase;
}

.text-shadow-white-1 {
  text-shadow: 0 1px #fff;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.games {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.previous {
  background-image: url(./img/right-sidebar-icons.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -15px -162px;
  width: 12px;
  height: 12px;
}

.previous:hover {
  background-image: url(./img/right-sidebar-icons.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -15px -149px;
}

.forward {
  background-image: url(./img/right-sidebar-icons.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -17px -397px;
  width: 12px;
  height: 12px;
}

.forward:hover {
  background-image: url(./img/right-sidebar-icons.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -17px -379px;
}

.game {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  box-sizing: border-box;
}

.game:hover {
  box-shadow: 0px 0px 5px 0px #2792FF;
}

.pages-contacts {
  overflow-x: hidden;
  overflow-y: scroll;
}

.scroll-area-wrap {
  margin-right: -30px;
  padding-right: 30px;
}

.page {
  height: 44px;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page:hover {
  background-color: #dddfe2;
  box-shadow: 1px 0 0 #eaebed inset;
  text-decoration: none;
}

.page-img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.page-name {
  display: flex;
  flex-direction: column;
}

.group-member-name {
  font-size: 12px;
}

.page-notification {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 2px;
  color: #4b4f56;
  padding: 0 2px;
  font-size: 11px;
}

.chat-search-bar {
  background-color: #fbfbfb;
  /* border-top: 1px solid #bdc7d8; */
  border-radius: 6px 6px 0 0;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 10px;
  /* position: fixed; */
}

.chat-input-search-label::before {
  background-image: url(./img/right-sidebar-icons.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -937px;
  content: '';
  display: inline-block;
  height: 12px;
  padding: 0 0 0 0;
  width: 12px;
}

.chat-input-search {
  border: none;
  outline: none;
  height: 100%;
  width: 50%;
  margin-left: 10px;
  background-color: #fbfbfb;
  font-size: 12px;
  line-height: 16px;
}

.options::before {
  background-image: url(./img/right-sidebar-icons.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -685px;
  content: '';
  padding: 0 0 4px 16px;
}

.new-message::before {
  background-image: url(./img/right-sidebar-icons.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -413px;
  content: '';
  padding: 0 0 4px 16px;
}

.new-group::before {
  background-image: url(./img/right-sidebar-icons.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -515px;
  content: '';
  padding: 0 0 4px 16px;
}


.pages-contacts:hover {
  overflow-x: hidden;
  overflow-y: scroll;
}

.pages-contacts:hover::-webkit-scrollbar {
  width: 8px; 
  border-radius: 10px;
}

.pages-contacts:hover::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 10px;
}

.pages-contacts:hover::-webkit-scrollbar-thumb:hover {
  background: #555; 
  border-radius: 10px;
}

.pages-contacts:hover::-webkit-scrollbar-track:hover {
  background: #ddd; 
  border-radius: 10px;
}

.pages-contacts::-webkit-scrollbar {
  width: 8px; 
}

.online-notification {
  background-color: limegreen;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.p-6 {
  padding: 6px;
}

.p-8 {
  padding: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.p-10 {
  padding: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.p-12 {
  padding: 12px;
}

.pl-12 {
  padding-left: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pt-12 {
  padding-top: 12px;
}

.p-20 {
  padding: 20px;
}

.ml-6 {
  margin-left: 6px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-14 {
  margin-left: 14px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.opa-5 {
  opacity: .5;
}

.short-hr {
  width: 90%;
  margin: auto;
}