* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
}

body {
  background-color: #E9EBEE;
}

header {
  width: 100%;
  position: fixed;
  height: 42px;
  background-color: #4166B2;
  display: flex;
  flex-direction: row;
}

.left { 
  width: 100px;
}

.middle { 
  width: 1014px;
  display: flex;
  /* flex: 1 1 1; */
  align-items: center;
  /* justify-content: space-evenly; */
}

.logo {
  padding: 2px 12px 3px 12px;
  background-image: url(./img/big-icons.png);
  background-position: 0 0px;
  background-repeat: no-repeat;
  background-size: auto;
  margin-right: 6px;
}

.search-area {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 0 0 0 10px;
  background-color: #ffffff;
  border-radius: 2px;
}

.seach-input {
  border:none;
  outline: none;
  font-size: 14px;
  width: 100%;
}

.search-button {
  background-color: #F5F6F7;
  border: none;
  padding: 0 16px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 23px;
  width: 48px;
}

.search-icon {
  padding: 2px 14px;
  background-image: url(./img/small-icons.png);
  background-position: 0 -969px;
  background-repeat: no-repeat;
  background-size: auto;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.links li {
  padding: 6px 0;
  /* vertical-align: center; */
  line-height: 14px;
}

.links li a {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  border-right: 1px solid rgb(19, 49, 121, .4);
  padding: 0px 10px;
}

.links li:hover {
  background: rgba(0, 0, 0, .1);
}

.avatar {
  position: relative;
  left: 10px;
  border-radius: 50%;
  width: 90%;
}

/* .nav {
  display: flex;
  justify-content: space-around;
} */